.InfoPage {
  padding: 1rem;
}

.InfoPage>h1 {
  font-size: 2rem;
}

.StatsBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  background-color: lightblue;

  padding: 1rem;
}

.StatsBar>h1 {
  font-size: 1.5rem;
}

.ChartContainer {
  margin-right: 1rem;
}

.GraphDisplayPanel {
  display: grid;
  grid-template-columns: 25rem 25rem 25rem;

  margin-top: 1rem;
  margin-bottom: 2rem;
}

.DividendBar {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.DividendBar>h1 {
  font-size: 1.5rem;
}