.MainPage {
  padding: 1rem;
}

.home-description {
  font-style: italic; 
  text-indent: 3rem;
  margin: 2rem 0;
}

.to-info-button {
  border: none;
  background: none;
  text-decoration: underline;
  color: blue;
}

.to-info-button:hover {
  color: darkblue;
}

.company-name {
  font-weight: 400;
  font-size: 2.5rem;
}

.StatsBar {
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;

  background-color: lightblue;
  padding: 0rem 1rem;

  height: 5rem;
}

.StatsBar>h2 {
  font-size: 1.2rem;
  width: 24rem;
  margin: 0;
}

.ChartContainer {
  margin-right: 1rem;
}

.GraphDisplayPanel {
  display: grid;
  grid-template-columns: 25rem 25rem 25rem;

  margin-top: 1rem;
  margin-bottom: 2rem;
}

.ChartLabel {
  font-size: 1.5rem;
}

.invisible {
  visibility: hidden;
}

.DividendBar {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.DividendBar>h1 {
  font-size: 1.5rem;
}

.add-to-list-button {
  background-color: lightblue;
  /* text-decoration: underline; */
  font-weight: 600;

  padding: 0.5rem 1rem;
  border-radius: 10rem;
  border: none
}

.add-to-list-button:hover {
  background-color: rgb(160, 199, 214);
}