.Sidebar {
  list-style-type: none;
  overflow: auto;
  margin: 0;
  padding: 0;
  border-right: .1rem solid rgb(200, 200, 200);
}

.sidebar-header {
  display: flex;  
  align-items: center;
  justify-content: center;

  height: 3rem;
  border-bottom: .1rem solid rgb(200, 200, 200);

  font-weight: bold;
  text-decoration: underline;
}

.sidebar-separator {
  height: .5rem;
  border-bottom: .1rem solid rgb(200, 200, 200);
}

.sidebar-item {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 4rem;
  border-bottom: .1rem solid rgb(200, 200, 200);
  
  font-size: .8rem;

  background: linear-gradient(to left, white 50%, lightgray 50%) right;
  background-size: 200%;
  transition: .1s ease-out;
}

.sidebar-item:hover {
  background-position: left;
  cursor: pointer;
}

.sidebar-selected {
  font-weight: bold;
  background: linear-gradient(to left, lightblue 50%, lightgray 50%) right;
  background-size: 200%;
  text-decoration: underline;
}